[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
pip-audit = "*"

[requires]
python_version = "3.12"

[scripts]
my_app = "python -c \"from my_app.cli import main; main()\""
